<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlNoDataSourceInspection, SqlResolve -->
<mapper namespace="io.devfactory.like.mapper.ArticleLikeCountMapper">
  <insert id="upsertLikeCount" parameterType="long">
    INSERT INTO tb_article_like_count (article_id, like_count, version)
    VALUES (#{articleId}, 1, 0)
    ON DUPLICATE KEY UPDATE
    like_count = like_count + 1
    , version = version + 1
  </insert>

  <update id="incrementLikeCount" parameterType="long">
    UPDATE tb_article_like_count talc
    SET talc.like_count = talc.like_count + 1
      , talc.version = talc.version + 1
    WHERE talc.article_id = #{articleId}
  </update>

  <update id="decreaseLikeCount" parameterType="long">
    UPDATE tb_article_like_count talc
    SET talc.like_count = talc.like_count - 1
      , talc.version = talc.version + 1
    WHERE talc.article_id = #{articleId}
  </update>
</mapper>
