main {
    background-color: #e9ecef;
}

main .container {
    padding-bottom: 1rem;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer p {
    margin-bottom: .25rem;
}

.hand {
    cursor: pointer;
}

/* bootstrap css overwrite */
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #343a40;
    border: 1px solid #454d55;
}
.page-item.disabled .page-link {
    color: #bfbfbf;
    pointer-events: none;
    cursor: auto;
    background-color: #343a40;
    border-color: #454d55;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.page-link:focus, .page-link:hover {
    color: #343a40;
    text-decoration: none;
    background-color: #fff;
    border-color: #454d55;
}
